body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
header {
  margin-top: -10px;
}
.page-header {
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
#play {
  background-color: #FDA64F;
}
#aboutgame {
  background-color: #BCF3C8;
}
#aboutme {
  background-color: #E4BAE8;
}
#gamecontainer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#gameCanvas {
    width: 800px;
    height: 600px;
    background-color: #232E37;
}
#info {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#invaders {
  background-color: #232E37;
}
#github {
  background-color: #F5DC96;
}
#cookie {
  background-color: #25BFFF;
}
