body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;

}
a {
  color: white;
}

@font-face {
  font-family: arcadeFont;
  src: url(PressStart2P.ttf);
}
* {
  font-family: arcadeFont;
}

.page-header {
  text-align: center;
  border-bottom: none;
  margin-top: -10px;
}
.navbar {
  background-color: #232E37;
}
.nav-pills {
  margin-top: -30px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#gamecontainer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#gameCanvas {
    width: 800px;
    height: 600px;
    background-color: #232E37;
}
#info {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#invaders {
  background-color: #02FD02;
}
#github {
  background-color: #FF7502;
}
#cookie {
  background-color: #FD0290;
}
.scores {
  width: 180px;
  height: 180px;
  border: 1px solid white;
  padding: 20px;
  margin-left: 50px;
  margin-top: -200px;
}
.share {
  border: 1px solid white;
  height: 180px;
  width: 180px;
  margin-top: -200px;
  padding: 20px;
  margin-right: 50px;
}
